<h1><span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"></ul></div>

In [1]:
import pandas as pd

In [4]:
df = pd.read_excel(r"creditcardmarketing copy.xlsx")

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18000 entries, 0 to 17999
Data columns (total 17 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Customer Number       18000 non-null  int64
 1   Offer Accepted        18000 non-null  object
 2   Reward                18000 non-null  object
 3   Mailer Type           18000 non-null  object
 4   Income Level          18000 non-null  object
 5   # Bank Accounts Open  18000 non-null  int64
 6   Overdraft Protection  18000 non-null  object
 7   Credit Rating         18000 non-null  object
 8   # Credit Cards Held   18000 non-null  int64
 9   # Homes Owned         18000 non-null  int64
 10  Household Size        18000 non-null  int64
 11  Own Your Home         18000 non-null  object
 12  Average Balance       17976 non-null  float64
 13  Q1 Balance            17976 non-null  float64
 14  Q2 Balance            17976 non-null  float64
 15  Q3 Balance            17976 non-null  float64
 16  Q4 Balance            17976 non-null  float64
dtypes: float64(5), int64(5), object(7)
memory usage: 2.3+ MB

In [7]:
df.to_csv(r'hjgljhl.csv', index = False, header = True)

In [20]:
df.fillna('', inplace=True)
df['Q1 Balance'].value_counts()

          24
81.0      23
675.0     23
676.0     22
823.0     22
          ..
1383.0     1
1197.0     1
1164.0     1
1118.0     1
1070.0     1
Name: Q1 Balance, Length: 2159, dtype: int64

In [ ]:
df1 = pd.read_csv('creditcardmarketingcopy.csv')

In [9]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17999 entries, 0 to 17998
Data columns (total 17 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   1          17999 non-null  int64
 1   No         17999 non-null  object
 2   Air Miles  17999 non-null  object
 3   Letter     17999 non-null  object
 4   High       17999 non-null  object
 5   1.1        17999 non-null  int64
 6   No.1       17999 non-null  object
 7   High.1     17999 non-null  object
 8   2          17999 non-null  int64
 9   1.2        17999 non-null  int64
 10  4          17999 non-null  int64
 11  No.2       17999 non-null  object
 12  1160.75    17975 non-null  float64
 13  1669       17975 non-null  float64
 14  877        17975 non-null  float64
 15  1095       17975 non-null  float64
 16  1002       17975 non-null  float64
dtypes: float64(5), int64(5), object(7)
memory usage: 2.3+ MB